<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/main.css")
    title Document
    script(defer, src="../js/app.js")
  body
    main#colorPaletteContainer
      article
        p Tests des couleurs et du contraste
      div.gradient__border
        p Lorem ipsum dolor sit amet. #[a(href='#') Lorem ipsum dolor sit amet.] Lorem ipsum dolor sit amet.
        ul
          span Contraste 
          li Texte / Background : #[br]OK / 15.09
          li Liens / Background : #[br]OK / 4.95
          li Liens / Text : #[br]OK / 3.04
      div.gradient__border
        p Lorem ipsum dolor sit amet. #[a(href='#') Lorem ipsum dolor sit amet.] Lorem ipsum dolor sit amet.
        ul
          span Contraste 
          li Texte / Background : #[br]OK / 14.01
          li Liens / Background : #[br]OK / 4.59
          li Liens / Text : #[br]OK / 3.04
      div.gradient__border
        p Lorem ipsum dolor sit amet. #[a(href='#') Lorem ipsum dolor sit amet.] Lorem ipsum dolor sit amet.
        ul
          span Contraste
          li Texte / Background : #[br]OK / 3.04
          li Liens / Background : #[br]KO / 4.33
          li Liens / Text : #[br]OK / 3.04
      div.gradient__border
        p Lorem ipsum dolor sit amet. #[a(href='#') Lorem ipsum dolor sit amet.] Lorem ipsum dolor sit amet.
        ul
          span Contraste
          li Texte / Background : #[br]OK / 3.04
          li Liens / Background : #[br]KO / 2.57
          li Liens / Text : #[br]OK / 7.84
      div.gradient__border
        p Lorem ipsum dolor sit amet. #[a(href='#') Lorem ipsum dolor sit amet.] Lorem ipsum dolor sit amet.
        ul
          span Contraste
          li Texte / Background : #[br]OK / 15.09
          li Liens / Background : #[br]KO / 3.04
          li Liens / Text : #[br]OK / 4.95